<p>salut tout le monde !</p>



<% @gossips.each do |gossip| %>
<div class="card border-info text-white bg-info mb-3">
    <div class="card-header bg-light text-warning">
    <%= gossip.user.first_name %> <%= gossip.user.last_name %>
    </div>
<% end %>